*{
    box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
background: #131313;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999;
}

.navbar__container {
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1900px;
margin: 0 auto;
padding: 0 50px;
}

#navbar__logo {
background-color: #ff8177;
background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.fa-gem {
margin-right: 0.5rem;
}

.navbar__menu {
display: flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar__item {
height: 80px;
}

.navbar__links {
color: #fff;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
width: 100%;
height: 100%;
}

.navbar__btn {
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
width: 100%;
}

.button {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 120px;
border: none;
outline: none;
border-radius: 4px;
background: #f77062;
color: #fff;
}

.button:hover {
background: #4837ff;
transition: all 0.3s ease;
}

.navbar__links:hover {
color: #f77062;
transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
}

.navbar__menu {
display: grid;
grid-template-columns: auto;
margin: 0;
width: 100%;
position: absolute;
top: -1000px;
opacity: 0; 
transition: all 0.5s ease;
height: 52vh;
z-index: -1;
background: #131313;
}

.navbar__menu.active {
background: #131313;
top: 100%;
opacity: 1;
transition: all 0.5s ease;
z-index: 99;
height: 52vh;
font-size: 1.6rem;
}

#navbar__logo {
padding-left: 25px;
}

.navbar__toggle .bar {
width: 25px;
height: 3px;
margin: 5px auto;
transition: all 0.3s ease-in-out;
background: #fff;
}

.navbar__item {
width: 100%;
}

.navbar__links {
text-align: center;
padding: 2rem;
width: 100%;
display: table;
}

#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

.navbar__btn {
padding-bottom: 2rem;
}

.button {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
height: 80px;
margin: 0;
}

.navbar__toggle .bar {
display: block;
cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}    

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.3s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 85vh;/* 95*/
    }

    .main__content {
        text-align: center;
        margin-bottom: 1rem; /*4*/
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Service Section*/

.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right,#ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 500px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('pic2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('pic3.jpg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
       height: 1300px; /*1600px*/
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 4rem; /*12rem*/
    }
    .services__card {
        width: 400px;
    }
    .services__card:nth-child(2) {
        width: 400px;
    }
}

@media  screen and (maximum-width: 480px) {
    .services {
        height: 1200px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 400px;
    }
    .services__card:nth-child(2) {
        width: 400px;
    }
}

/* Footer  CSS*/
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.footer__link--items p {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

/* Social Icons*/
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 4px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__icons .fa-facebook {
    color: darkblue;
}
.social__icons .fa-youtube {
    color: red;
}
.social__icons .fa-twitter {
    color: #27c0ff;
}
.social__icons .fa-instagram {
    color: rgba(255, 0, 0, 0.781);
}
.social__icons .fa-linkedin {
    color: rgba(7, 7, 247, 0.877);
}

.socail__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff;
}


.whatsapp .fab {
    color: green;
    font-size: 40px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 6rem; 
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
    .whatsapp .fab {
        color: green;
        font-size: 40px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}


@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .footer__link--items {
        margin: 0;
        padding: 8px;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .footer__link--items {
        margin: 0;
        padding: 3px;
        width: 155px;
    }
}

/*About Section*/

.about {
    background-color: #131313;
}

.about__container h1 {
    margin: auto;
    font-size: 30px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-left: 550px;
    margin-top: 35px;
}

.about__container h1::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.about__container h4 {
    font-size: 50px;
    margin-left: 460px;
    color: #fff;
}

#bar {
    width: 70%;
    margin-left: 0;
    margin-top: 30px;
}

.reasons p {
    border: 1px solid #009688;
    border-radius: 50px;
    margin-left: 43.5em;
    margin-top: -10em;
    margin-bottom: 30px;
    position: absolute;
    top: 339%;
    background-color: #009688;
    width: 29%;
    text-align: center;
    height: 40%;
    padding: 50px 20px 0 0;
}

.reasons h6 {
    border: 1px solid red;
    border-radius: 50px;
    margin-left: 48em;
    margin-top: -10em;
    margin-bottom: 30px;
    position: absolute;
    top: 339%;
    background-color: red;
    width: 29%;
    text-align: center;
    height: 30%;
    padding: 29px 27px 0 0;

}

.reasons ol {
    font-size: 30px;
    font-weight: bold;
    color: #009688;
    padding: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

#omole {
    border-radius: 15px;
    height: 500px;
    width: 900px;
    margin-left: 1em;
}

.tosin {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}


.about__container p {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: lighter;
}
.about__container h6 {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-top: 20px;
    padding-left: 60px;
    text-align: left;
    font-weight: lighter;
}

.about__container ul {
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    padding: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 50rem;
    margin-bottom: 5px;
    border-radius: 10px;
}

.abt-cont p {
    border: dimgrey;
    background-color: dimgrey;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 7px;
    position: sticky;
    padding: 50px;
    opacity: 70%;
    font-size: 50px;
    margin-top: -8em;
    margin-bottom: 30px;
}

.abt-cont {
    display: grid;
    flex-wrap: wrap;
    background-size: cover;
}

#main-img7 {
    height: 35rem;
    width: 100%;
    position: relative;
}

.gallery h2 {
    text-align: center;
   text-decoration: underline;
    font-style: oblique;
    font-size: 45px;
    margin-top: 30px;
    background-image: linear-gradient(to right, red 0%, green 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.gallery a {
    font-size: 20px;
}

.gallery h3 {
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.mainly {
    font-size: 0.5rem;
    background-image: linear-gradient(to top, red 0%, green 100%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
    margin-left: 30px;
}

.mainly a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.mainly:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #009688;
    transition: all 0.3s;
    border-radius: 10px;
}

.mainly:hover {
    color: #fff;
}

.mainly:hover:after {
    width: 100%;
}

@media screen and (max-width: 770px) {
    .about__container h1 {
       margin-left: 90px;
        font-size: 25px;
    }
    .about__container h4 {
        margin-left: 50px;
        font-size: 30px;
    }
    .about__container p {
        font-size: 20px;
        text-align: justify;
    }
    .about__container h6 {
        padding-left: 0;
    }
    .about__container ul {
        font-size: 18px;
        padding: 70px; 
        padding-left: 2rem;
        margin-right: 0.4rem;
        margin-bottom: 1px;
        margin-top: 2px;
    }
    #main-img7 {
        height: 400px;
        width: 100%;
    }
    .abt-cont p {
        margin-left: 2rem;
        margin-right: 2rem;
        top: 435%;
        padding-bottom: -40px;
        font-size: 25px;
        position: sticky;
    }
    .tosin {
        display: grid;
    }
    .reasons h1{
        margin-left: 4px;
        margin-top: 2px;
    }
    #bar {
        width: 100%;
        height: 250px;
        margin-bottom: 0;
    }
    .reasons ol {
        font-size: 20px;
    }
    .reasons p {
        margin-top: 0;
        margin-left: 4px;
        width: 100%;
        height: 130px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
    }
    .reasons h6 {
        margin-top: -30px;
        margin-left: 4px;
        width: 100%;
        height: 100px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
    }
    .about__container h5 {
        padding-left: 2px;
        font-size: 29px;
    }
    .gallery h3 {
        font-size: 20px;
    }
    #omole {
        width: 80%;
        height: 250px;
    }

}

@media screen and (max-width: 414px) {
    .abt-cont p {
        margin-left: 4rem;
        margin-right: 4rem;
        top: 490%;
        padding: 20px;
        font-size: 25px;
        position: sticky;
    }
    .reasons p {
        margin-left: 2px;
        width: 100%;
        height: 130px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
    }
    .reasons h6 {
        margin-left: 4px;
        width: 100%;
        height: 100px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
        margin-top: -30px;
    }
}

@media screen and (max-width: 375px) {
    .abt-cont p {
        margin-left: 4rem;
        margin-right: 4rem;
        top: 570%;
        padding: 20px;
        font-size: 25px;
        position: sticky;
        margin-bottom: 3em;
        
    }
    .reasons p {
        
        margin-left: 2px;
        width: 100%;
        height: 130px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
    }
    .reasons h6 {
         margin-top: -30px;
        margin-left: 4px;
        width: 100%;
        height: 100px;
        padding-top: 2px;
        padding-right: 1px;
        text-align: center;
        position: relative;
    }
}
@media screen and (max-device-width: 812px) {
    .abt-cont p {
        margin-top: -15em;
        margin-left: 3rem;
        margin-right: 3rem;
        padding-bottom: -20px;
        font-size: 25px;
        position: sticky;
        margin-bottom: 4em;
    }
}

/*Services SEction*/

.images {
    background-size: cover;
}

.interior-design h1 {
    text-align: center;
    margin-top: 4px; 
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;  
}

#main__img1 {
        height: 23rem;
        width: 47%;
}

#main__img1:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#main-img2 {
    height: 23rem;
    width: 51%;
    padding-left: 20px;
}

#main-img2:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.exterior__design {
    padding-top: 0;
}

.exterior h1 {
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

#main-img4 {
    height: 25rem;
    width: 51%;
    padding-left: 20px;
}

#main-img4:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#main-img3 {
    height: 25rem;
    width: 40rem;
}

#main-img3:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.landscapping h1 {
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

#main-img5 {
    height: 25rem;
    width: 40rem;
}

#main-img5:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#main-img6 {
    height: 25rem;
    width: 43rem;
    padding-left: 20px;
}

#main-img6:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.Animations h1 {
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

#vid2 {
    padding-left: 20px;
    height: 25rem;
    width: 43rem;
}

#vid1 {
    height: 25rem;
    width: 40rem; 
}

#vid4 {
    padding-left: 20px;
    height: 25rem;
    width: 43rem;
    padding-top: 20px;
}

#vid3 {
    height: 25rem;
    width: 40rem; 
    padding-top: 20px;
}

.Animations h6 {
    text-align: center;
    margin-top: 30px;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    font-size: 30px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.main__btn2 {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 42px;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
    margin-left: -9em;
}

.main__btn2 a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn2:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.3s;
    border-radius: 10px;
}

.main__btn2:hover {
    color: #fff;
}

.main__btn2:hover:after {
    width: 100%;
}

#arrow {
    margin-left: 35em;
    margin-top: 25px;
    margin-bottom: 35px;
}

@media screen and (max-width: 770px) {
    .images {
        display: flex;
        flex-direction: column;
    }
    
    #main__img1 {
        height: 18rem;
        width: 95%;
        padding-bottom: 5px;
    }
    #main-img2 {
        height: 18rem;
        width: 95%;
        padding-left: 0;
    }
    #main-img3 {
        height: 18rem;
        width: 95%;
        padding-bottom: 5px;
    }
    #main-img4 {
        height: 18rem;
        width: 95%;
        padding-left: 0;
    }
    #main-img5 {
        height: 18rem;
        width: 95%;
        padding-bottom: 5px;
    }
    #main-img6 {
        height: 18rem;
        width: 95%;
        padding-left: 0;
    }
    #vid1 {
        height: 23rem;
        width: 100%;
        padding-bottom: 10px;
    }
    #vid2 {
        height: 23rem;
        width: 100%;
        padding-left: 0; 
    }
    #vid3 {
        height: 23rem;
        width: 100%;
        padding-bottom: 10px;
    }
    #vid4 {
        height: 23rem;
        width: 100%;
        padding-left: 0; 
    }
    .Animations h6 {
        font-size: 20px;
    }
    #arrow {
        margin-left: 12em;
        margin-top: 10px;
    }
    .main__btn2 {
        font-size: 15px;
        margin-left: 110px;
    }
}

@media screen and (max-width: 375px) {
    .images {
        display: flex;
        flex-direction: column;
    }
    #arrow {
        margin-left: 9em;
        margin-top: 10px;
    }
    .main__btn2 {
        font-size: 15px;
        margin-left: 60px;
    }
}

/*Blog Section*/

.blogs {
    background-color: #efefef;
    background-size: cover;
}

.blogging h1 {
    text-align: center;
    padding-top: 20px;
    color: #f77062;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: black;
}

.main-banner {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
    opacity: 0.999;
    padding-right: 0;
}

.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.main-banner #ban3 {
    background-image: url(images/ban3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #ban2 {
    background-image: url(images/ban2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #ban1 {
    background-image: url(images/ban1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    top: 250px;
    z-index: 2000;
    opacity: 0.5;
    cursor: pointer;
}

.imgbanbtn:hover {
    opacity: 0.9;
}

.imgbanbtn-prev {
    left: 5px;
    background-image: url(images/left.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn-next {
    right: 5px;
    background-image: url(images/right.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner .imgban-box h2 {
    font-family: arial;
    font-size: 60px;
    color: #fff;
}

.main-banner .imgban-box p {
    padding-top: 6px;
    font-family: arial;
    font-size: 16px;
    color: #fff;
}

.main-banner #ban3 .imgban-box {
    padding-top: 20px;
    padding-left: 220px;
}
.main-banner #ban2 .imgban-box {
    padding-top: 380px;
    padding-left: 110px;
    float: right;
    text-align: right;
}
.main-banner #ban1 .imgban-box {
    padding-top: 80px;
    padding-left: 20px;
}
@media screen and (max-width: 770px) {
    .main-banner {
        width: 100%;
        height: 350px;
    }
    .imgbanbtn {
        width: 20px;
        height: 20px;
        top: 170px;
    }
    .imgbanbtn-next {
        right: 22px;
    }
    .main-banner .imgban-box p {
        padding-top: 6px;
        font-size: 15px;
    }
    .main-banner .imgban-box h2 {
        font-size: 30px;
    }
    .main-banner #ban2 .imgban-box {
        padding-top: 250px;
        padding-right: 20px;
        text-align: left;
    }
    .main-banner #ban3 .imgban-box {
        padding-top: 20px;
        padding-left: 110px;
    }
}

@media screen and (max-width: 480px) {
    .imgbanbtn-next {
        right: 0.1rem;
    }
}

#feature {
    width: 100%;
    padding: 70px 0;
}

.text {
    text-align: center;
    padding-bottom: 70px;
}

.text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.text h2 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 80%;
    border-radius: 10px;
    height: 300px;
}
.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon .fas {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.icon-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px) {
    .text h2 {
        font-size: 35px;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img {
        width: 100%;
    }
}


.business {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.business-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.Interiors {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.Interiors img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.Interiors:hover .overlay {
    opacity: 1;
}

.caption {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.caption p {
    font-size: 18px;
}

.Interiors:hover .caption {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .Interiors {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .caption p {
        font-size: 13px;
    }
    hr {
        margin: 5px auto;
    }
    .Interiors:hover .caption {
        bottom: 25% !important;
    }
}

#test {
    width: 100%;
    padding: 70px 0;
    background-size: cover;
}

.row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 30px #00968814;
    cursor: pointer;
    transition: transform .5s;
}

.col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.info .fab {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.info .fa-youtube {
    margin-left: 10px;
    color: red;
    font-size: 20px;
}

.info small {
    color: #009688;
}

.fa-star {
    color: rgb(107, 245, 107);
}

.col:hover {
    transform: translateY(-7px);
}

@media screen and (max-width: 770px) {
    .col {
        flex-basis: 100%;
    }
}

